<!--Assignment 2, ISEM 551-51-2015-Fall, Name:Bicky Maharjan, Student # 156151, Single page App using html5, javascript, jquery, css.-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Assignment 1: Simple Web Page (Git and JavaScript)</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!--adding angular bootstrap to the application-->

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!--adding angular js-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


    <script language="javascript">
        function alertUserClick() {
            alert("I am being clicked, I would like to let the users know that this textbox required your Phone No");
        }
        function showContacts() {
            alert("Phone No is entered");
        }
        function showFullContacts() {
            var s1 = $("#i1").val();
            var s2 = $("#i2").val();
            //var s3 = $(s1, s2);
            var s3 = $($("#i1").val(), $("#i2").val());
            $("#i4").val(s3)
        }
        $(function () {
            if ($("#i2") == '') {
                $("#i2").val("Enter your Phone No");
            }
            $("#i2").click(function () {
                if ($(this).val() == "Enter your Address") {
                    $(this).val("");
                }
            });
            $("#i2").blur(function () {
                if ($(this).val().length == 0) {
                    $(this).val("Enter your Address");
                }
            })
        })
    </script>
    <style>
        body {
            color: blueviolet;
            text-decoration: wavy;
            font-size: 20px;
            background-color: lightgreen;
        }

        h3 {
            text-shadow: 2px 2px;
        }

        div {
            width: 100px;
            height: 100px;
            background-color: red;
            -webkit-animation-name: example; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
            animation-name: example;
            animation-duration: 4s;
        }
        /* Chrome, Safari, Opera */
        @-webkit-keyframes example {
            from {
                background-color: red;
            }

            to {
                background-color: yellow;
            }
        }
        /* Standard syntax */
        @keyframes example {
            from {
                background-color: red;
            }

            to {
                background-color: yellow;
            }
        }
    </style>
</head>
<body ng-app="SearchAddressbook">
    <h3 style="color:blue;margin-left:30px;">This is a single page App.</h3>
    <br />
    <p>
        Assignment 1: Simple Web Page (Git and JavaScript)
    </p>
    <p>
        Html 5 placeholder propety, Using JQuery Library for click and blur events. Using css for animation and coloring the page elements.
    </p>
    <br />
    Phone No: <br />
    <input type="text" id="i1" name="n1" onclick="alertUserClick()" placeholder="Enter your Phone No" onchange="showContacts()" data-ng-model="Phone" />
    <br />
    Address: <br />
    <input type="text" id="i2" name="n2" value="Enter your Address" data-ng-model="Address" />
    <br />
    <input type="button" id="i3" value="Submit your Complete Address" onclick="showFullContacts()" data-ng_model="Submit" />
    <br />
    This Textbox shows the complete address.
    <input type="text" id="i4" value="This is your complete address." style="width:300px" />
    <p id="demoname"></p>
    <br /><br />
    <div></div>
    <p>
        This is a sample of css animation. When an animation is finished, it changes back to its original style. This animation shows the color change on the box from red to yello and back.
    </p>

    <p>
        Angular JS is below this Line:
    </p>
    <div ng-app="" style="background-color:white; width:100%;">
        <p>Name: <input type="text" ng-model="name"></p>
        <!--<p>{{name}}</p>-->
    </div>

    <br><br><br><br>

    <div ng-app="Addressbook" ng-controller="myCtrl" style="background-color:white; width:50%;">

        Address: <input type="text" ng-model="address"><br>
        Phone: <input type="text" ng-model="phone"><br>
        <br>
        your address and phone: {{address + " " + phone}}
    </div>

    <br>

    <script>
        var app = angular.module('Addressbook', []);
        app.controller('myCtrl', function ($scope) {
            $scope.address = "Bicky Bond";
            $scope.phone = "201001001001";
        });
    </script>
    <br />
    <p>
        This is adding the bootstrap to the application.
    </p>
    <div class="container" style="background-color:white; width:50%;">

        <h3>Available Addresses</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Street Address</th>
                    <th>Zip Code</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="Addresses">
                    <td>
                        <button class="btn" ng-click="editAddress(address.phone)">
                            <span class="glyphicon glyphicon-pencil"></span>  Edit
                        </button>
                    </td>
                    <td>{{ Addresses.staddress }}</td>
                    <td>{{Addresses.zipcode}}</td>
                    <td>{{ Addresses.phone }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <button class="btn btn-success" ng-click="editAddress('new')">
            <span class="glyphicon glyphicon-user"></span> Add New Address
        </button>
        <hr>

        <h3 ng-hide="edit">Edit Address:</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Street Address:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="address" ng-disabled="!edit" placeholder="Street Address">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="zipcode" ng-disabled="!edit" placeholder="Zip Code">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone No:</label>
                <div class="col-sm-10">
                    <input type="number" ng-model="phone" placeholder="Phone No">
                </div>
            </div>
        </form>

        <hr>
        <button class="btn btn-success" ng-disabled="error || incomplete">
            <span class="glyphicon glyphicon-save"></span> Add New Address
        </button>

    </div>

</body>
</html>
